{% extends "base.html" %}
{% block title %}
Pooch Finder
{% endblock %}
{% block body %}
{% load template_filters %}
<div class="top-div">Find your pooch <span class="top-title">&hearts;</span></div>
<form action="{% url 'index' %}" method="post" id="filterForm">
    {% csrf_token %}
    <fieldset>
        <legend>REFINE SEARCH:</legend>
        <div class="form-group row">
            <label for="states" class="col-md-1 col-form-label">States:</label>
            <div class="col-md-4 ">
                <select id="state" name="state" class="form-control">
                    <option value="ALL" selected>ALL</option>
                    {% for state in states%}
                    {% if state_val and state.code == state_val %}
                    <option value="{{state.code}}" selected>{{state.name}}</option>
                    {% else %}
                    <option value="{{state.code}}">{{state.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label for="location" class="col-md-1 col-form-label">Location:</label>
            <div class="col-md-3 ">
                <div id="location-div"><input type="text" id="location" name="location" class="form-control" placeholder="suburb, state, postcode" value="{% if location %}{{location}}{% endif %}"></div>
            </div>
            <label for="distance" class="col-md-1 col-form-label">Within</label>
            <div class="col-md-2">
                <select id="distance" name="distance" class="form-control">
                    {% with '10 25 50 100 200 500' as list %}
                    {% for dis in list.split %}
                    {% if distance %}
                    {% if  distance == dis|to_int %}
                    <option value="{{dis}}" selected>{{dis}} kms</option>
                    {% else %}
                    <option value="{{dis}}">{{dis}} kms</option>
                    {% endif %}
                    {% else %}
                    {% if  dis|to_int == 25 %}
                    <option value="{{dis}}" selected>{{dis}} kms</option>
                    {% else %}
                    <option value="{{dis}}">{{dis}} kms</option>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="breed" class="col-md-1 col-form-label">Breed:</label>
            <div class="col-md-4">
                <select id="breed" name="breed" class="form-control">
                    <option value="ALL" selected>ALL</option>
                    {% for breed in breeds %}
                    {% if breed_val and breed.id == breed_val|to_int %}
                    <option value="{{breed.id}}" selected>{{breed.name}}</option>
                    {% else %}
                    <option value="{{breed.id}}">{{breed.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <label for="gender" class="col-md-1 col-form-label">Gender:</label>
            <div class="col-md-3 ">
                <select id="gender" name="gender" class="form-control">
                    <option value="ALL" selected>ALL</option>
                    {% for gender in genders %}
                    {% if gender_val and gender.id == gender_val|to_int %}
                    <option value="{{gender.id}}" selected>{{gender.name}}</option>
                    {% else %}
                    <option value="{{gender.id}}">{{gender.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <label for="age" class="col-md-1 col-form-label">Age:</label>
            <div class="col-md-2">
                <select id="age" name="age" class="form-control">
                    <option value="ALL" selected>ALL</option>
                    {% for age in ages%}
                    {% if age_val and age.id == age_val|to_int %}
                    <option value="{{age.id}}" selected>{{age.name}}</option>
                    {% else %}
                    <option value="{{age.id}}">{{age.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <label for="slider" class="col-form-label">Price range: <span>$0 - </span><span id="price">{% if price_range %}${{price_range}}{% else %}$10000{% endif %}</span></label>
                <div id="slider"></div>
                <input type="hidden" id="price_range" name="price_range" value="{% if price_range %}{{price_range}}{% else %}10000{% endif %}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 refine-btn">
                <button type="submit" class="btn btn-danger">Search</button>
                <a href="#" id="clear_selections" class="btn btn-danger">Clear All Selections</a>
            </div>
        </div>

        <input type="hidden" id="sort" name="sort" value="{% if sort_val%}{{sort_val}}{% else %}MR{% endif %}">
    </fieldset>
</form>
<div class="sort_list">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &#8593;&#8595; SORT BY
        </button>
        <div class="dropdown-menu">
            {% if sort_val %}
            <a class="dropdown-item {% if sort_val == 'MR'%}active{% endif %}" href="#" id="most_recent">Most Recent</a>
            <a class="dropdown-item {% if sort_val == 'AO'%}active{% endif %}" href="#" id="alphabetical_order">Alphabetical Order</a>
            <a class="dropdown-item {% if sort_val == 'ME'%}active{% endif %}" href="#" id="most_expensive">Most Expensive</a>
            <a class="dropdown-item {% if sort_val == 'C'%}active{% endif %}" href="#" id="cheapest">Cheapest</a>
            {% else %}
            <a class="dropdown-item active" href="#" id="most_recent">Most Recent</a>
            <a class="dropdown-item" href="#" id="alphabetical_order">Alphabetical Order</a>
            <a class="dropdown-item" href="#" id="most_expensive">Most Expensive</a>
            <a class="dropdown-item" href="#" id="cheapest">Cheapest</a>
            {% endif %}
        </div>
    </div>
</div>

{% for ad_item in page_obj%}
<div class="card mb-3 border-secondary">
    <div class="row no-gutters">
        <div class="col-md-4">

            <div id="carouselExampleFade_{{ad_item.id}}" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    {% for photo_item in photo_items|get_item:ad_item.id %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                        <img src="/Media/{{photo_item.image}}" class="d-block w-100" alt="img_{{forloop.counter}}">
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <img src="/Media/{{photo_item.image}}" class="d-block w-100" alt="img_{{forloop.counter}}">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade_{{ad_item.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade_{{ad_item.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <p>{{ad_item.item_location}}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-text float-md-right text-danger ">{{ ad_item.price|currency_symbol }}</h4>
                <h5 class="card-title">{{ad_item.title}}</h5>
                <p class="card-text">{{ad_item.summary_desc|linebreaks}}</p>
                <p class="card-text">{{ad_item.desc|linebreaks|slice:":255"}}...</p>

                <a href="{% url 'ad_more_details' ad_item.id %}" class="btn btn-danger">More Details</a>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="border border-danger rounded my-3 p-2 text-center">No Items Found.</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="text-danger" href="?page=1">&laquo; first</a>
            <a class="text-danger" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="text-danger" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="text-danger" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
